html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px; 
}

nav {
    font-size: 20px;
}

.contacto-button {
    background: linear-gradient(135deg, #0447ac 0%, #12c1e4 100%);
    border: none;
    color: aliceblue;
    
    transition: all 0.2s ease-in-out;
    font-size: 15px;
    letter-spacing: 0.3px;
}

.contacto-button:hover {
    transform: translateY(-2px);
    color: aliceblue;
}

.contacto-button:active {
    transform: translateY(1px);
    color: aliceblue !important;
}

.nav-item {
    transition: all 0.2s ease-in-out;
}

.nav-item:hover {
    transform: translateY(-2px);
}

.nav-item:active {
    transform: translateY(1px);
}

.nav-link {
    background-color: transparent !important;
}

.jumbotron {
    background-color: aliceblue;
}

.SobreMi {
    background-color: rgb(255, 255, 255);
}

.reserva-burbuja {
    background: linear-gradient(135deg, #0447ac 0%, #12c1e4 100%);
    color: aliceblue;
}

.servicios-burbuja {
    background: linear-gradient(135deg, #0447ac 0%, #12c1e4 100%);
    color: aliceblue;
}

.servicios-burbuja:hover {
    box-shadow: 0 4px 8px rgba(5, 43, 68, 0.616);
    transition: all 0.2s ease-in-out;
    transform: translateY(-4px);
}